.login-card {
    width: 300px;
    margin: auto;
    transform: translateY(30%)
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #FFFFFF;
}
.input-field input[type=password]:focus + label {
  color: #FFFFFF;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #FFFFFF;
  box-shadow: 0 1px 0 0 #FFFFFF;
}

.input-field input[type=password]:focus {
  border-bottom: 1px solid #FFFFFF;
  box-shadow: 0 1px 0 0 #FFFFFF;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #FFFFFF;
}
