<div class="row outer">
  <div class="col s12 middle">
    <div class="card blue lighten-3 login-card centered">
      <div class="card-content white-text">
        <div class="row center-align">
          <span class="card-title">Login</span>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">perm_identity</i>
            <input type="text" id="txtUsername" class="validate">
            <label for="txtUsername">Usuario</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i>
            <input type="password" id="txtPassword" class="validate">
            <label for="txtPassword">Clave</label>
          </div>
        </div>
      </div>
      <div class="card-action center-align">
        <a class="waves-effect waves-light btn blue-grey">Ingresar</a>
      </div>
    </div>
  </div>
</div>
