<!-- Modal Design -->
<div id="alert" class="modal bottom-sheet" materialize="modal"
	[materializeParams]= "[{dismissible: false}]" [materializeActions]="alertActions">
	<div class="modal-content">
		<h4>Eliminar?</h4>
		<p>¿Desea eliminar los elementos seleccionados?</p>
	</div>
	<div class="modal-footer">
		<a class="waves-effect waves-green btn-flat" (click)="closeModal()">Cancelar</a>
		<a class="modal-action modal-close waves-effect waves-light btn-flat" (click)="alertState(true)">Eliminar</a>
	</div>
</div>
