<ul materialize="collapsible" class="side-nav collapsible" id="slide-out" data-collapsible="acordion">
	<li [routerLinkActive]="['active']">
		<a [routerLink]="['/home']">INICIO</a>
	</li>
	<li [routerLinkActive]="['active']">
		<a [routerLink]="['/usuarios']">USUARIOS</a>
	</li>
	<li [routerLinkActive]="['active']">
		<a [routerLink]="['/clientes']">CLIENTES</a>
	</li>
	<li [routerLinkActive]="['active']">
		<a [routerLink]="['/recursos']">RECURSOS</a>
	</li>
	<li [routerLinkActive]="['active']">
		<a [routerLink]="['/casos']">CASOS</a>
	</li>
</ul>